<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container">
      <a class="navbar-brand text-white" href="#">AKKO</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-white">
          <li class="nav-item">
            <a class="nav-link text-white active" aria-current="page" routerLink="data-hub/home"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="data-hub/create">Add Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="data-hub/about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="data-hub/resume" >Resume</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="data-hub/contacts">Contact Us</a>
          </li>
        </ul>
        <form class="d-flex">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <main class="container">
    <div class="bg-light p-5 rounded">
      <h1>Angular CURD Application</h1>
      <p class="lead">
        This example is a quick exercise to illustrate how fixed to top navbar
        works. As you scroll, it will remain fixed to the top of your browser’s
        viewport.
      </p>
      <a
        class="btn btn-lg btn-primary"
        href="/docs/5.0/components/navbar/"
        role="button"
        >View navbar docs &raquo;</a
      >
    </div>
  </main>
</div>

